<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/summoner.css" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
    <title><%=summoner.name%></title>
  </head>
  <body>
    <div id="root">
      <header>
        <div class="search_box">
          <form>
            <input
              type="text"
              placeholder="summoner name"
              id="name"
              onkeyup="enterkey()"
            />
            <input
              id="button"
              type="button"
              value="검색"
              onclick="document.location.href=getvalue()"
            />
          </form>
        </div>
      </header>
      <main>
        <div id="user_info">
          <div>
            <div>
              <p id="name_text"><%=summoner.name%></p>
            </div>
          </div>
          <div>
            <form>
              <div id="nowPlaying">
                <p>Now Playing</p>
                <% if(!activeGame.status) {%>
                <div style="background-color: blue"></div>
                <% } else { %>
                <div style="background-color: #ccc"></div>
                <% } %>
              </div>
            </form>
          </div>
          <div>
            <div>
              <% let solo_win =
              league.solo.wins/(league.solo.wins+league.solo.losses); let
              flex_win = league.flex.wins/(league.flex.wins+league.flex.losses);
              %>
              <div class="rank" style="z-index: 2; opacity: 1">
                <p style="font-size: 16px">SOLO RANK</p>
                <img src="/img/ranked-emblems/<%=league.solo.tier%>.png" />
                <% if(league.solo.tier === 'UNRANK') { %>
                <p style="font-size: 16px">
                  <%=league.solo.tier%> <%=league.solo.rank%>
                </p>
                <div>
                  <p><%=league.solo.wins%> WIN</p>
                  <p>/</p>
                  <p><%=league.solo.losses%> LOSS</p>
                </div>
                <%} else {%>
                <p style="font-size: 16px">
                  <%=league.solo.tier%> <%=league.solo.rank%>
                  <%=league.solo.leaguePoints%>점
                </p>
                <div>
                  <p><%=league.solo.wins%> WIN</p>
                  <p>/</p>
                  <p><%=league.solo.losses%> LOSS</p>
                </div>
                <p><%=(solo_win*100).toFixed(1)%>%</p>
                <%}%>
              </div>
              <div class="rank" style="left: 160px; top: 50px; z-index: 1">
                <p style="font-size: 16px">FREE RANK</p>
                <img src="/img/ranked-emblems/<%=league.flex.tier%>.png" />
                <% if(league.flex.tier === 'UNRANK') { %>
                <p style="font-size: 16px">
                  <%=league.flex.tier%> <%=league.flex.rank%>
                </p>
                <div>
                  <p><%=league.flex.wins%> WIN</p>
                  <p>/</p>
                  <p><%=league.flex.losses%> LOSS</p>
                </div>
                <% } else {%>
                <p style="font-size: 16px">
                  <%=league.flex.tier%> <%=league.flex.rank%>
                  <%=league.flex.leaguePoints%>점
                </p>
                <div>
                  <p><%=league.flex.wins%> WIN</p>
                  <p>/</p>
                  <p><%=league.flex.losses%> LOSS</p>
                </div>
                <p><%=(flex_win*100).toFixed(1)%>%</p>
                <%}%>
              </div>
            </div>
            <div>
              <div class="most"></div>
            </div>
          </div>
        </div>
        <div id="match_list">
        <% for(let i=0;i<matchData.length;i++) { %>
          <% let myData = matchData[i].info.participants[matchData[i].myNum]; %>
          <% if(myData.win) {%>
          <section class="game_box win">
          <% } else if (!myData.win){ %>
          <section class="game_box lose">
          <% } %>
            <div>
              <div class="box_1">
                <div>
                  <div><%=matchData[i].queueId_KR%></div>
                </div>
                <div>
                  <div>
                    <div><div></div></div>
                    <div>
                      <p><%=matchData[i].myTime%></p>
                      <p><%=matchData[i].myGameDuration%></p>
                    </div>
                  </div>
                </div>
                <div>
                  <p>KDA</p>
                  <div><%=matchData[i].kdaText%></div>
                </div>
              </div>
              <div class="box_2">
                <div>
                  <img src="https://ddragon.leagueoflegends.com/cdn/12.18.1/img/champion/<%=myData.championName%>.png"/>
                  <div>
                    <img src="<%=matchData[i].rune_KR.icon%>">
                    <div><%=myData.champLevel%></div>
                  </div>
                </div>
                <div>
                  <div><p>KILL</p><div><%=myData.kills%></div></div>
                  <div><p>DEATH</p><div><%=myData.deaths%></div></div>
                  <div><p>ASSIST</p><div><%=myData.assists%></div></div>
                </div>
                <div>
                  <% if(matchData[i].multikillText !== "") {%>
                  <div><%=matchData[i].multikillText%></div>
                  <% } %>
                </div>
              </div>
              <div class="box_3">
                <div>
                  <img src="<%=matchData[i].spell_1.img%>">
                  <img src="<%=matchData[i].spell_2.img%>">
                </div>
                <div></div>
                <div>
                <% for(let j=0;j<7;j++) { %>
                  <%if(matchData[i].item_arr[j] !== 0){%>
                  <img src="http://ddragon.leagueoflegends.com/cdn/12.19.1/img/item/<%=matchData[i].item_arr[j]%>.png" onerror="this.style.display='none'"/>
                <% }} %>
                </div>
              </div>
              <div class="box_4">
                <div></div>
                <div>
                  <div>
                    <div>
                      <p>TOTAL DAMAGE <%=matchData[i].totalDamage%></p>
                      <p>minute average <%=(matchData[i].Damage_min).toFixed(0)%></p>
                    </div>
                    <p><%=matchData[i].teamDamage%>%</p>
                  </div>
                  <div>
                    <div>
                      <p>CS <%=matchData[i].totalMinion%></p>
                      <p>minute average <%=(matchData[i].Minion_min).toFixed(1)%></p>
                    </div>
                    <div>
                      <p>GOLD <%=matchData[i].totalGold%></p>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <%}%>
        </div>
      </main>
    </div>
  </body>
  <%
  let arr = matchList.map((item)=>{
    var a = item.slice(3);
    return Number(a);
  })
  %>
  <script type="text/javascript">
    
    function enterkey(){
      if(window.event.keyCode == 13){
        document.location.href=getvalue();
      }
    }
    function getvalue() {
      var text = document.getElementById("name").value;
      var url = "/summoner/" + text;
      return url;
    }

    const nowPlaying = document.getElementById("nowPlaying");
    const name = document.getElementById("name_text");
    nowPlaying.addEventListener("click", function () {
      var url = "/active/" + name.innerText;
      document.location.href = url;
    });

    const rank_card = document.getElementsByClassName("rank");
    rank_card[0].addEventListener("click", function () {
      this.style.zIndex = 2;
      this.style.opacity = 1;
      rank_card[1].style.zIndex = 1;
      rank_card[1].style.opacity = 0.5;
    });
    rank_card[1].addEventListener("click", function () {
      this.style.zIndex = 2;
      this.style.opacity = 1;
      rank_card[0].style.zIndex = 1;
      rank_card[0].style.opacity = 0.5;
    });

    let matchList = JSON.parse("<%- JSON.stringify(arr)%>");

    const game_list = document.getElementById("match_list");

    for(let i=0; i<game_list.children.length;i++){
      let button = game_list.children[i];
      button.addEventListener(('click'),()=>{
        document.location.href = `/match/KR_${matchList[i]}`
      })
    }

    if(matchList.length === 0){
      game_list.textContent = '최근 전적이 없습니다.';
      game_list.style.fontSize = '2em';
      game_list.style.justifyContent = 'center';
      game_list.style.color = 'white';
    }
  </script>
</html>
